Download ${project.name}
------------------------

${project.name} is available from [Maven Central Repository](https://central.sonatype.com/search?q=g%3A${project.groupId}+a%3A${project.artifactId}).

It is highly recommended to verify signatures against the public [KEYS](KEYS) used to sign the artifacts.
