About ${project.name}
---------------------

${project.name} is a Maven Plugin that merges and filters a set of Java Properties files into a single file
while detecting multiple instances of the same Property Key.
