# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

on:
  pull_request:
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Setup Java
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        distribution: adopt
        java-version: 8
        cache: maven
    - name: Setup Maven
      run: mvn -N --ntp -V -e -B -C io.takari:maven:wrapper -Dmaven=3.8.1
    - name: Build with Maven
      run: ./mvnw -V -e -B -C -Pit clean verify
