# Build and deploy to ghcr.io
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: Build and Deploy

on:
  push:
    branches: [ master ]
  workflow_dispatch:
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      with:
        platforms: 'arm64'
    - name: Setup Java
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        distribution: adopt
        java-version: 8
        cache: maven
    - name: Setup Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      with:
        install: true
    - name: Login to GitHub Container Registry
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Setup Maven
      run: mvn -N --ntp -V -e -B -C io.takari:maven:wrapper -Dmaven=3.8.1
    - name: Build with Maven
      run: ./mvnw -V -e -B -C -Pit clean verify
    - name: Build and Deploy Site with Maven
      run: ./mvnw -V -e -B -C -Psite,site-deploy site -Doci.repo.prefix=ghcr.io/${{ github.repository }}/
