# Build and deploy to ghcr.io
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: Build and Deploy

on:
  push:
    branches: [ master ]
  workflow_dispatch:
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      with:
        platforms: 'arm64'
    - name: Setup Java
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        distribution: adopt
        java-version: 8
        cache: maven
    - name: Setup Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      with:
        install: true
    - name: Login to GitHub Container Registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Setup Maven
      run: mvn -N --ntp -V -e -B -C io.takari:maven:wrapper -Dmaven=3.8.1
    - name: Build with Maven
      run: ./mvnw -V -e -B -C -Pit clean verify
    - name: Build and Deploy Site with Maven
      run: ./mvnw -V -e -B -C -Psite,site-deploy site -Doci.repo.prefix=ghcr.io/${{ github.repository }}/
